# .env.local.example
# database

# Local env uses a local database
DATA_SOURCE=mongodb
MONGODB_URL=mongodb://r00t:r00t@localhost:27017/eproc?authSource=admin

# Logger
NEXT_PUBLIC_LOG_LEVEL=info
NEXT_PUBLIC_LOG_CLIENT=true
NEXT_PUBLIC_LOG_SERVER=true
