# database
# test uses docker 
DATA_SOURCE=mongodb
MONGODB_URL=mongodb://r00t:r00t@localhost:27017:/eproc?authSOurce=admin

# logger
NEXT_PUBLIC_LOG_LEVEL=info
NEXT_PUBLIC_LOG_CLIENT=true
NEXT_PUBLIC_LOG_SERVER=true
