# database

# Local env uses a stubbed json database
DATA_SOURCE=local-json
DATA_DIR=./data
DB_JSON_PATH=./data/database.json
USERS_JSON_PATH=./data/users.json

# Logger
NEXT_PUBLIC_LOG_LEVEL=info
NEXT_PUBLIC_LOG_CLIENT=true
NEXT_PUBLIC_LOG_SERVER=true
